@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.nav-font{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}